# Delta Exchange API (optional — public endpoints work without keys)
DELTA_API_KEY=Tf628eiomwbSqY2cCyi9VfrRS88MKn
DELTA_API_SECRET=VobStvFan3R0gtoJAmhc1OlHkTfl6XJyuk3uGiImewHncawZ3IFTvGimG3ER
DELTA_API_BASE_URL=https://api.delta.exchange/v2

# Telegram Bot notifications
# Create a bot via @BotFather, then get your chat id from @userinfobot or getUpdates
TELEGRAM_BOT_TOKEN="8544025101:AAH03_scc88poNasSNUrjbHEBrmSfEGgRRg"
TELEGRAM_CHAT_ID="853891465"
